@charset "UTF-8";

body {
    max-width: 900px;
    font-family: '游明朝';
    margin: 0 auto;
    padding: 0;
}

/*---------------------- header ------------------*/
.fixed {
    width: 90%;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: white;
}
.fixed menu p:hover {
    color: blue;
    font-size: 130%;
}
@media screen and (min-width:1100px) {
    .fixed {
        max-width: 61%;
        padding: 0 260px;
        position: fixed;
        left: 0;
    }
}
header h1 {
    font-size: 20px;
    text-align: left;
    letter-spacing: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
}
@media screen and (max-width:350px) {
    header .mainname {
        font-size: 18px;
    }
}

header span {
    font-size: 12px;
    letter-spacing: 0;
    color: rgb(97, 105, 104);
}
@media screen and (min-width:800px) {
    header span {
        font-size: 14px;
    }
}
.mainname {
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px rgb(203, 205, 206);
    margin-right: 5px;
}
header .ne {
    color: rgb(247, 218, 58);
}
header .ru {
    color: rgb(13, 247, 29);
}
header .nail {
    color: rgb(255, 39, 57);
}
header menu {
    margin: 0;
    padding: 0;
    text-align: right;
}
header menu p {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (min-width:480px) {
    header menu p {
        width: 80px;
        text-align: center;
    }
}
@media screen and (min-width:800px) {
    header menu p {
        width: 100px;
        font-size: 16px;
    }
}

.web {
    background-color: aqua;
    padding: 5px 5px;
    color: white;
}

/*--------------- main --------------- */
main h1 {
    margin: 20px 30px;
    font-size: 16px;
    text-align: center;
}
.infomation {
    margin: 80px 30px;
    margin-bottom: 0;
    justify-content: center;
}
.infomation p {
    display: inline-block;
    font-size: 10px;
}
.allow1 {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    margin-right: 3px;
}

/*---------------- naildesign ---------------- */
.naildesign ul {
    margin: 20px;
    padding: 0;
}
.naildesign li {
    list-style-type: none;
}
.naildesign img {
    width: 100%;
}
.nailfont {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}
.greyzone {
    margin-bottom: 15px;
    background-color: rgba(224, 219, 219, 0.292);
    padding: 5px 10px;
    position: relative;
}
.greyzone p {
    margin: 0;
    font-size: 10px;
}
.greyzone span {
    padding-left: 50px;
}
.greyzone p space {
    font-weight: bold;
}
.colorinfo .color {
    float: left;
    padding-top: 2px;
}
.colorinfo {
    margin: 5px 0;
    padding: 0;
    width: 300px;
    line-height: 15px;
}
.colorinfo p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#bordercolor {
    width: 7px;
    height: 7px;
    border: 1px solid;
    border-radius: 2px;
}
.bordercolor1 {
    background-color: white;
}
.color .spanpadding {
    padding-left: 40px;
}
.bordercolor2 {
    background-color: beige;
}
.bordercolor4 {
    background-color: pink;
}
.bordercolor5 {
    background-color: gold;
}
.bordercolor6 {
    background-color: brown;
}
.bordercolor7 {
    background-color: yellow;
}
.bordercolor8 {
    background-color: green;
}
.bordercolor9 {
    background-color: purple;
}
.bordercolor10 {
    background-color: grey;
}
.bordercolor11 {
    background-color: blue;
}
.bordercolor12 {
    background-color: black;
}
.bordercolor13 {
    background-color: red;
}

.greyzone .taste {
    margin: 5px 0;
}
.taste .eregant {
    padding-left: 43px;
}
.scene .bridal {
    padding-left: 42px;
}
.greyzone .smallimg {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid rgb(229, 158, 231);
}
.memberall {
    margin-bottom: 50px;
}
.memberall span {
    display: inline-block;
}
#memberbuy1 {
    clear: both;
    text-align: center;
    width: 20%;
    border: 1px solid rgb(148, 113, 236);
    border-right: none;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    background-color: rgb(148, 113, 236);
    color: white;
}
.memberbuy1 {
    text-align: center;
    width: 20%;
    border: 1px solid rgb(148, 113, 236);
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    color: rgb(148, 113, 236);
}
#memberbuy2 {
    text-align: center;
    width: 22%;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(228, 218, 218);
    padding: 3px 5px;
    border-right: none;
    background-color: rgb(228, 218, 218);
}
.memberbuy2 {
    text-align: center;
    width: 22%;
    font-size: 12px;
    border: 1px solid rgb(228, 218, 218);
    padding: 3px 5px;
}

@media screen and (max-width:350px) {
    .memberbuy1 {
        width: 21%;
    }
    #memberbuy2 {
        width: 19%;
    }
    .memberbuy2 {
        width: 22%;
    }
}

@media screen and (min-width:640px) {
    main h1 {
        font-size: 20px;
    }
    .naildesign ul {
        display: flex;
    }
    .naildesign li {
        margin: 30px 0;
    }
    .naildesign li:nth-child(1) {
        width: 50%;
    }
    .naildesign li:nth-child(2) {
        width: 50%;
    }
    .naildesign img {
        width: 96%;
        background-size: cover;
    }
    .naildesign .nailfont {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .greyzone {
        height: 52%;
    }
    .greyzone p {
        font-size: 12px;
    }
    .colorinfo {
        margin: 3px 0 10px 0;
        width: 350px;
        height: 20px;
    }
    .colorinfo .color space {
        display: block;
        line-height: 5px;
        padding-top: 6px;
        padding-right: 35px;
    }
    .color .spanpadding {
        padding: 0;
    }
    #namespace {
        padding: 5px 0;
    }
    .variation {
        padding-top: 5px;
    }
    .variation .bordercolor1 {
        width: 7px;
        height: 7px;
    }
    .variation .bordercolor2 {
        width: 7px;
        height: 7px;
    }
    .variation .bordercolor3 {
        width: 7px;
        height: 7px;
    }
    .greyzone .taste {
        text-align: left;
    } 
    .greyzone .smallimg {
        width: 30%;
    }
    #memberbuy2 {
        width: 21%;
    }
}

@media screen and (min-width:884px) {
    main h1 {
        font-size: 20px;
    }
    .naildesign ul {
        display: flex;
        margin-bottom: 0;
    }
    .naildesign li {
        margin: 30px 0;
    }
    .naildesign li:nth-child(1) {
        width: 50%;
    }
    .naildesign li:nth-child(2) {
        width: 50%;
    }
    .naildesign img {
        width: 96%;
        background-size: cover;
    }
    .naildesign .nailfont {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
    .greyzone {
        height: 29vh;
    }
    .greyzone p {
        font-size: 16px;
    }
    .colorinfo {
        margin-top: 10px;
        width: 400px;
        height: 30px;
    }
    .colorinfo .color space {
        display: block;
        line-height: 0px;
        padding-bottom: 0;
        padding-right: 35px;
    }
    #namespace {
        padding: 10px 0;
    }
    .variation {
        padding-top: 8px;
    }
    .variation .bordercolor1 {
        width: 10px;
        height: 10px;
        background-color: WHITE;
    }
    .variation .bordercolor2 {
        width: 10px;
        height: 10px;
        background-color: beige;
    }
    .variation .bordercolor3 {
        width: 10px;
        height: 10px;
    }
    #bordercolor {
        width: 10px;
        height: 10px;
        border: 1px solid;
        border-radius: 2px;
    }
    .greyzone .taste {
        text-align: left;
    } 
    .greyzone .smallimg {
        width: 30%;
    }
    .memberall {
        margin-top: 20px;
    }
    #memberbuy1 {
        font-size: 16px;
        width: 22%;
    }
    .memberbuy1 {
        font-size: 16px;
        width: 22%;
    }
    #memberbuy2 {
        font-size: 16px;
        width: 22%;
    }
    .memberbuy2 {
        font-size: 16px;
        width: 22%;
    }
}

/*------------------- footer ---------------- */
.footer {
    background-color: rgb(227, 247, 251);
    padding-bottom: 20px;
    text-align: center;
}
.footer h6 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 7px;
    text-align: center;
    margin: 0;
    padding: 15px;
    padding-bottom: 0;
}
.footer p {
    margin: 0 5px;
    padding-left: 7px;
    display: inline-block;
    font-size: 10px;
}

@media screen and (min-width:800px) {
    .footer p {
        font-size: 14px;
    }
}

.footer a {
    text-decoration: none;
    color: grey;
}
.private {
    text-align: center;
}
.private p {
    display: inline-block;
    font-size: 10px;
    padding: 0 3px;
}
.private p:not(:first-child) {
    border-left: 1px solid grey;
    line-height: 8px;
}
.office {
    font-size: 12px;
    text-align: center;
}