@charset "UTF-8";

menu {
    margin: 30px;
}
.hand {
    margin-top: 12px;
    border: 1px solid;
    width: 100px;
    text-align: center;
    color: aqua;
    float: left;
}
.infoimg {
    width: 5%;
    float: right;
}
.traial {
    clear: both;
}
.buygroup {
    justify-content: flex-end;
    line-height: 10px;
    display: flex;
}
.buygroup p {
    display: inline-block;
    margin: 10px 0;
}
.watch {
    display: inline-block;
    width: 3%;
    padding-bottom: 20px;
}